body
{
    background-color: green;
    width: 100%;
    height: 740px;
}

.mainHeading
{
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 6px none rgb(63, 44, 44);
    background: rgb(148, 227, 230);
    color:green;
    display: hidden;
}

span
{
    vertical-align: top;
    font-size: 2em;
}

.Screen
{
    font-size:3em;
    top: 15px;
    position: absolute;
    right: 6px;
    left: 6px;
    padding-right: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    border: 4px none rgb(123, 123, 133);
    box-shadow: inset 0 -1px 8px rgb(52, 41, 41);
    text-align: right;
    background: white;
}

.Division
{
    background: yellow;
    color:rgb(0, 0, 0);
} 
.Multiplication
{
    background-color: red;
    color:white;
}
.Minus
{
    background: green;
    color:white;
} 
.Addition
{
    background-color: orange;
    color:white;
}

.Seven, .Eight, .Nine, .Four, .Five, .Six, .One, .Two, .Three, .Zero
{
    background: teal;
    color: rgb(222, 222, 227);
}

.equal
{
    color: white;
    background: rgb(65, 65, 233);
    border-color: grey;
    font-size:1.5em;
    font-weight:900px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

button
{
    width:100%;
    height: 70px;
    border: 3px hidden grey;
    border-radius: 35px;
    box-shadow: inset 8px -8px 20px rgb(46, 28, 28);
    justify-content: center;
    font-size:2.5em;
    font-weight:500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    transition: opacity 29ms;
}

button:active
{
    opacity: 0.6;
}

.btnPar
{
   
    margin-top: auto;
    width: 100;
}

img
{
    width: 117px;
    display: none;
}

.deviceContainer
{
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns:60px 60px 60px 60px;
    width: 90%; height: 500px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: 25px hidden rgb(63, 44, 44);
    padding: 90px 10px 0 10px;
    border-radius: 15px;
    background: rgb(148, 227, 230);
}

@media (min-width: 700px)
{
    .deviceContainer
    {
        grid-template-columns: 150px 150px 150px 150px;
    }
}

@media (min-width:900px)
{
    .mainHeading
    {
        font-size: 4em;
        display: hidden;
    }

    .deviceContainer
    {
        grid-template-columns: 260px 260px 260px 260px;
    }

    .Screen
    {
        font-size:4em;
    }

    img
    {
        width: 117px;
        display:inline-block;
        margin-top: 10px;
    }
}